/* Common shared style */
* {
  font-family: "Lato", sans-serif;
  margin: 0px;
  padding: 0px;
}

.description-primary {
  color: #27272799;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.btn-primary {
  background-color: #e55473;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 43px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.tittle-primary {
  font-size: 48px;
  font-weight: 800;
}

/* header-section style */
header {
  width: auto;
  background-color: #e554731a;
  background-image: url("../images/pngwing\ 10.png");
  background-repeat: no-repeat;
  background-position: 95% 100%;
  margin-bottom: 180px;
}

.header-content {
  text-align: left;
  padding: 197px 690px 140px 150px;
}

.header-content-tittle {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}

#header-description {
  margin: 32px 0px;
}

/* Service section style */
.services {
  background-color: #2727270d;
  justify-content: center;
  display: flex;
  gap: 120px;
  border-radius: 10px;
  padding: 50px 30px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 130px;
}
.service li {
  list-style: none;
}

.service {
  text-align: center;
}

/* Get-The-Latest-Deals section style*/
.Get-The-Latest-Deals {
  text-align: center;
  background-image: url("../images/Rectangle\ 9.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 10pxpx;
  padding: 100px 287px;
  margin-bottom: 130px;
}

#Get-The-Latest-Deals-description {
  margin-top: 12px;
  margin-bottom: 42px;
}

.Get-The-Latest-Deals input {
  width: 600px;
  height: 67px;
  border-radius: 8px;
  margin-right: 16px;
  border: none;
}

::placeholder {
  color: #27272799;
  font-size: 16px;
  font-weight: 400;
  padding: 23px 0px 23px 23px;
}

/* footer-section style */
footer {
  background-color: #111010;
  width: auto;
  color: #fff;
  text-align: center;
  padding: 130px 500px;
}

#footer-description {
  margin-top: 24px;
  margin-bottom: 32px;
  color: gray;
}

.copy-right {
  font-size: 16px;
  font-weight: 400;
}
